.current-weather {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}


.left-section, .right-section {
  display: flex;
  flex-direction: column;
}

.right-section {
  align-items: center;
  margin-right: -20px;
}

.high-low-temp {
  display: inline-flex;
}

.sec2-icon {
  width: 150px;
  height: 150px;
  margin-right: 0px;
  margin-top: 0px;
  filter: brightness(220%);
  filter: contrast(200%);
  margin-bottom: -20px;
}

.city {
  font-size: 32px;
  margin-bottom: 9px;
  color: white;
}

.temp {
  font-size: 42px;
  color: white;
  margin-bottom: 20px;
}

.high-temp {
  margin-right: 10px;
}
