body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-position: center;
  background-size: cover;
  color: white;
}

.card {
  width: 382px;
  height: 383px;
  padding: 29px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 0.12em;
  border-style: solid;
  border-color: rgba(60, 60, 60, 0.386);
}

.buttons {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
  background-color: rgb(72, 72, 72);
  width: 10.26em;
  border-radius: 7px;
  padding: 2px;
  margin-top: -30px;
  opacity: 0.88;
}

.hr-button, .day-button {
  border: none;
  border-radius: 5px;
  padding: 5px 24px;
  cursor: pointer;
}

.hr-button {
  background-color: white; 
}

.day-button {
  background-color: rgb(72, 72, 72);
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
}

.weather.loading {
  visibility: hidden;
}

@media (max-width: 540px) {
  .card {
    width: 242px;
    height: 242px;
    padding-top: 30px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 0px;
    border-radius: 15px;
  }
  .buttons {
    margin-bottom: 16px;
    width: 6.6em;
    padding: 0.1em;
    margin-top: -30px;
    border-radius: 5px;
  }
  .hr-button, .day-button {
    font-size: 9px;
    border-radius: 3px;
    padding: 3px 15px;
  }
}
